.container {
    width: 300px;
    padding: 3px 5px;
    margin: 5px 10px;
    display: block;
    padding-top: 100px;
}

#title1 {
    background-color: bisque;
}

#title2 {
    background-color: chocolate;
}

.title {
    color: cornflowerblue;
}

button {
    background-color: darkblue;
}

.header {
    width: 100%;
    background-color: aqua;
    height: 100px;
    position: fixed;
    top: 0;
}

.footer {
    width: 100%;
    background-color: #333333;
    height: 100px;
    position: fixed;
    bottom: 0;
}

.content-box {
    width: 334px;
    height: 88px;
    background-color: #333333;
    margin-top: 30px;
    border-radius: 15px;
}